@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");


:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
}
html {
  overflow-x: hidden; //Remove a horizontal scroll bar
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

// Navbar-----------------------------
nav {
  z-index: 2;
  // height: 100px;
}


// Menu Links -----------------
// pxに rem converter (NinjaUnits) 使用
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

// bootstrapのルールを上書きする !important
.navbar-nav > li > a {
  color: var(--primary-white) !important ;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  //To prevent move when hovered
  border-top: 2px solid var(--primary-dark); 
}

.navbarBrand {
  height: 6rem !important;
}

.navbarBrand__logo {
  width: 8rem;
  margin-top: 1rem;
  // width: 10vw;
}
@media (max-width: 280px) {
  .navbarBrand__logo {
    width: 40vw;
  }
}

// 押したボタンの上に表示させる
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 2px solid var(--primary-orange);
}

.navbar-nav li a:hover {
  border-top: 2px solid var(--primary-orange);
}

// HEADER----------------------------------
.headerWrapper {
  position: relative;
  background: url("../src/images/wall-and-laptop-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.headerInfo {
  // 中央縦横揃え
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.headerInfoText {
  color: white;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .headerInfoText {
    font-size: 5vw;
  }
}

// Typed Text (animation effect)
.typed-text {
  font-size: 2rem;
  // font-size:28px;
  color: white;
}

@media (max-width: 768px) {
  .typed-text {
    font-size: 4vw;
  }
}

// Header Main Offer Button------------
.headerBtn {
  border: 1px solid var(--primary-red);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  padding: 8px 12px;
  color: white;
  margin-top: 2rem;
}
.headerBtn:hover {
  background-color: var(--primary-red);
  color:white;
  transition: all 0.3s ease-in-out;
}

//Particle JS------------------------
.particles__canvas {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}


@media (max-width: 768px) {
  .particles__canvas {
    display: none;
  }
}

// About Me-------------
.aboutPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
&__me {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 0.1vw;
  border: 1px solid var(--primary-orange);
  @media (max-width: 768px) {
      width: 140px;
      height: 140px;
    }
  @media (max-width: 468px) {
      width: 120px;
      height: 120px;
    }
  }
}


.aboutHeading {
  color: var(--primary-orange);
  text-transform: uppercase;
}

// Services -------------------------
.services {
  width: 95vw;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
  padding-top:1rem;
  background-color: var(--primary-light-grey);
  &__title {
    color: var(--primary-orange);
    text-transform: uppercase;
    font-size: 2.5rem;
  }
}

.circleIconBg {
  position: relative;
  margin: 0.375rem auto; //真ん中寄せ
  background-color: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.circleIcon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.servicesContainer__rowBox {
  height: 16rem;
  border-bottom: 0.3125rem solid orange;
  padding: 0.625rem;
  margin-bottom: 1.875rem;
}
// box内背景をオレンジ
.servicesContainer__rowBox:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
  transition: all 0.3s ease-in-out;
}
// アイコン背景を白
.servicesContainer__rowBox:hover .circleIconBg {
  background-color: white;
  transition: all 0.3s ease-in-out;
}
// アイコンを黒
.servicesContainer__rowBox:hover .circleIcon {
  color: black;
  transition: all 0.3s ease-in-out;
}
// タイトルを白
.servicesContainer__rowBox:hover .servicesContainer__rowBox--title {
  color: white;
  transition: all 0.3s ease-in-out;
}
// テキストを白
.servicesContainer__rowBox:hover .servicesContainer__rowBox--text {
  color: white;
  transition: all 0.3s ease-in-out;
}

// Experience----------------
.experience {
  padding: 0.7rem;
}
.experienceWrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experienceContainer__heading {
  text-transform: uppercase;
  color: var(--primary-orange);
}
//線引きする
.experienceWrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;

  background-color: grey;
  margin-left: -0.8px;
  width: 1.8px;
  height: 100%;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  //clearプロパティfloatの回り込みを解除
  clear: both; 
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl; //right to left
}
.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 6px solid grey;
  background-color: orange;
  margin-top: 10px;
  z-index: 3;
}

.timelineContent {
  width: 95%;
  padding: 0 1rem;
  color: var(--primary-dark-grey);
  direction: ltr;
  &__heading {
    color: red;
  }
}

// Media---------------
@media (max-width: 768px) {
  .experienceWrapper .container {
    padding-left: 0;
  }
  .experienceWrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}
// Portfolio--------------------------
.portfolio__wrapper {
  background-color: var(--primary-light-grey);
  padding: 3rem 0;
}
.portfolio__wrapper h1 {
  color: orange;
}
.portfolio-image-box {
  position: relative;
  margin: 1rem;
  // text-align: center;
}
.portfolio-image {
  max-width: 600px;
  width:100%;
  border: 1px solid var(orange);
  padding: 0 0.5rem;
}

// Overflow Box（ホバー時のeffect）--------------
.overflow {
  position: absolute;
  top: 0;
  border: 2px solid red;
  background-color: black;
  opacity: 0; //非表示に設定
  max-width: 600px;
  width:100%;
  height: 100%;
  cursor: pointer;
}
.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: all 0.3s ease-in-out;
}

.portfolilo-icon {
  position: absolute;
  opacity: 0; //非表示に設定
  margin-left: -50%;
  margin-top: 30%;
  transform: translate(-30%, 0%);
  color: var(--primary-orange);
  font-size: 32px;
}
.portfolio-image-box:hover .portfolilo-icon {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

// Pop up box --------------------------
// ポップアップ時の箱(自動生成クラス)
.popupbox-wrapper {
  max-width:700px;
  width: 100%;
  height: 70vh;
  margin-top:5vw;
  @media (max-width: 768px) {
  }
}

.popupbox-content {
  padding-top: 0 !important;
}

//画像サイズ
.portfolioImage {
  max-width: 540px;
  width: 100%;
  padding: 0 0.5rem;
  height: 30vh;
  display: block;
  margin: 16px auto;
  @media (min-width: 1800px) {
   max-width:860px;
   height: 40vh;
   width: 100%;
  }
  @media (max-width: 768px) {
   max-width:360px;
   width: 100%;
  }
  @media (max-width: 468px) {
    width:240px;
    margin: 8px auto;
  }
  //スマホ　横向き対応
  @media (max-height: 468px) {
    height: 100px;
    width:320px;
  }
}
//テキストサイズ
.portfolioText {
  font-size:1.2vw;
  @media (max-width: 1440px) {
    font-size: 1.7vw;
    // margin-bottom: 0;
  }
  @media (max-width: 960px) {
    font-size: 1.5vw;
    // margin-bottom: 0;
  }
  @media (max-width: 768px) {
    font-size: 2.3vw;
    // margin-bottom: 0;
  }
  @media (max-width: 468px) {
    font-size: 3.2vw;
  }
  @media (max-width: 375px) {
    font-size: 2.8vw;
  }
    //スマホ　横向き対応
    @media (max-height: 468px) {
     margin-bottom: 0;
     line-height: 2.3vw;
    }
}
// タイトルサイズ
.portfolioTitle {
  @media (max-width: 468px) {
    font-size: 3.5vw;
  }
  @media (max-width: 375px) {
    font-size: 4vw;
  }
}
// リンクサイズ
.hyper-link {
  cursor: pointer;
  color: orange;
  @media (max-width: 468px) {
    font-size: 3.5vw;
  }
  @media (max-width: 375px) {
    font-size: 4vw;
  }
}


.hyper-link:hover {
  color: var(--primary-red);
}


// TestimonialsCarousel --------------
.testimonials {
  background-image: url("../src/images/testimonials-bg.jpg");
  background-size: cover;
  // background-color:black;
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}
.testimonials h1 {
  color: orange;
  padding: 3rem 0;
  text-transform: uppercase;
}
.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.myCarousel {
  color: white;
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.8rem;
}
.myCarousel h3 {
  color: orange;
  font-weight: 600;
  text-transform: uppercase;
}
.myCarousel p {
  color: grey;
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}
.carousel .slide {
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

// Contacts ---------------------------
.contacts {
  background: black;
  padding: 48px 0;
}

.contactsTitle{
  color: orange;
  padding: 20px 0;
  text-transform: uppercase;
}
.contactsText {
  color: grey;
  font-size: 1.2rem;
  margin-bottom: 4vw;
}

// INPUTS -------------------------
form {
  margin-top: 3vw !important;
}
// 両方にスタイル
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;

  //要素の寸法を変更できるかどうか、もしそうなら、どの方向に変更できるかを設定
  resize: none; 
  border: 0;
  border-bottom: 2px solid darkgrey;
  color: orange;
  border-radius: 0;
  //outlineは要素の輪郭線の太さ・色・スタイルを指定
  outline: 0 !important; 
  box-shadow: none;
  top: 0;
  margin-bottom: 16px;
  padding-left: 0;
}

// フォーカス時に適用
.contacts input:focus,
.contacts textarea:focus {
  background: transparent;//真っ白になるのを防ぐ
  color: orange;
  border-bottom: 1.5px solid darkgrey;
}
.contacts textarea {
  height: 184px;
}
.contact-btn {
  margin: 1rem 0 0 0;
  padding: 1vw 0;
  width: 100%;
  background: none;
  color: white;
}
.contact-btn:hover {
  background-color: orange;
  transition: all 0.2s ease-in-out;
}
.line {
  position: relative;
  top: -2rem;
  width: 0;
  height: 0.125rem;
  background: orange;
  display: inline-block;
}

//隣接兄弟セレクター。内側ではない最初の.lineを指定
// focus時オレンジeffect
input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.form-control {
  margin: -5px 0;
}
// フォーム送信時メッセージ
.success-message {
  color: orange;
  font-size: 3vw;
  line-height: 6vw;
}

// Media ---------------------------
@media (max-width: 768px) {
  .contacts .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .contactsText {
    padding: 0 6px;
  }
}

// Footer ----------------------
.footer {
  // background: darkgrey;
  background-color: var(--primary-light-grey);
  color: black;
  padding: 3rem;
}
.footerContainer {
  @media (max-width: 460px) {
    margin-left:20px;
    }
  @media (max-width: 280px) {
    margin-left:auto;
    }
 
}
.footer a {
  text-decoration: none;
  color: grey;
}
.footer a:hover {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}

.social__icons {
  @media (max-width: 460px) {
    margin-left:-24px;
    }
  @media (max-width: 280px) {
    margin-left:0px;
    }
}
// .social__iconsRow {
// }

.youtube {
  width:50px;
}